iptables -F
iptables -X

iptables -A INPUT -m state --state ESTABLISHED -j ACCEPT

iptables -A OUTPUT -j ACCEPT

iptables -A INPUT -i lo -j ACCEPT
iptables -A OUTPUT -o lo -j ACCEPT

# fail2ban
iptables -N f2b-sshd
iptables -A INPUT -p tcp -m tcp --dport 2222 -j f2b-sshd
iptables -A f2b-sshd -j RETURN

# Allow HTTP and HTTPS connections from anywhere
iptables -A INPUT -p tcp --dport 80 -j ACCEPT
#iptables -A INPUT -p tcp --dport 443 -j ACCEPT

#OPENVPN
iptables -A INPUT -p udp --dport 1194 -j ACCEPT
iptables -A INPUT -i tun+ -j ACCEPT
iptables -A FORWARD -i tun+ -j ACCEPT
iptables -t nat -A POSTROUTING -s 192.168.255.0/24 -o eth0 -j MASQUERADE
iptables -A FORWARD -i tun+ -o eth0 -m state --state RELATED,ESTABLISHED -j ACCEPT
iptables -A FORWARD -i eth0 -o tun+ -m state --state RELATED,ESTABLISHED -j ACCEPT

#DELUGE
iptables -A INPUT -p tcp -m tcp --dport 56881:56889 -j ACCEPT
iptables -A INPUT -p udp -m udp --dport 56881:56889 -j ACCEPT

#MADSONIC
iptables -A INPUT -p tcp --dport 4444 -j ACCEPT

#PLEX
iptables -A INPUT -p tcp -m tcp --dport 32400 -j ACCEPT
iptables -A INPUT -p udp -m udp --dport 32400 -j ACCEPT

#SSH
iptables -A  INPUT -p tcp -m conntrack --ctstate NEW --dport 2222 -j ACCEPT



# Log iptables denied calls
# -A INPUT -m limit --limit 5/min -j LOG --log-prefix "iptables denied: " --log-level 7
# Drop all other inbound - default deny unless explicitly allowed policy
# -A INPUT -j DROP
iptables -P INPUT DROP
