server {
    listen 80;
    return 301 https://$host$request_uri;
}

{% for key,redirect_host in redirect_hosts.items() %}
server {

    listen {{ redirect_host['remote_port'] }};
    server_name {{nginx_remotehost}};

    ssl_certificate           /etc/nginx/cert.crt;
    ssl_certificate_key       /etc/nginx/cert.key;

    ssl on;
    ssl_session_cache  builtin:1000  shared:SSL:10m;
    ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers HIGH:!aNULL:!eNULL:!EXPORT:!CAMELLIA:!DES:!MD5:!PSK:!RC4;
    ssl_prefer_server_ciphers on;

    access_log            /var/log/nginx/{{key}}.log;
    error_log             /var/log/nginx/{{key}}-err.log;
    location / {
      proxy_pass          http://{{redirect_host['ip']}}:{{redirect_host['local_port']}};    
    }
}
{% endfor %}
